@font-face {
    font-family: "Main Font";
    src: url('PressStart2P-Regular.ttf');
    font-display: swap;
}

body {
    background-color: black;
    color: white;
    font-family: "Main Font";
}

.games-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.games-list .game {
    width: 25%;
}

.center {
    text-align: center;
}