/* 100% hand-crafted, artisanal CSS */
@font-face {
    font-family: "Main Font";
    src: url('/PressStart2P-Regular.ttf');
    font-display: swap;
}

body {
    background-color: black;
    color: white;
    font-family: "Main Font";
    padding-left: 10%;
    padding-right: 10%;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 24px;
}

nav a {
    color: white;
    text-decoration: underline;
}

p {
    line-height: 1.6;
    text-align: left;
}

p > img {
    display: block;
    margin: 0 auto;
}

h3 {
    margin-top: 24px;
}

ul {
    line-height: 1.6;
    text-align: left;
}

p a:link, a:visited {
    color: white;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

pre {
    text-align: left;
    font-size: larger;
}

code {
    font-size: larger;
}

blockquote {
    padding: 8px;
    background-color: #111111;
}

#rss-link {
    font-size: smaller;
    margin: 0 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#rss-link a {
    color: orange;
}

.games-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.games-list .game {
    width: 25%;
    padding: 20px;
    line-height: 1.4;
}

.games-list a {
    color: white;
    text-decoration: none;
}

.games-list .game img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.center {
    text-align: center;
}

.published-date {
    font-size: x-small;
}

.blog-list-item {
    display: block;
    background-color: #333333;
    padding: 16px;
    padding-bottom: 24px;
    margin: 24px;
}

.blog-list-item:visited, .blog-list-item:link {
    color: white;
    text-decoration: none;
}

#mega-man-button {
    background-color: #333333;
}

@media only screen and (max-width: 700px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    iframe {
        max-width: 100%;
    }

    p {
        padding: 0 8px;
    }

    h3 {
        line-height: 1.2;
    }

    .games-list {
        flex-direction: column;
        align-content: center;
    }

    .games-list .game {
        width: 80%;
    }

    #mega-man-button {
        top: 5px !important;
        right: 5px !important;
    }
}