@font-face {
    font-family: "Main Font";
    src: url('PressStart2P-Regular.ttf');
    font-display: swap;
}

body {
    background-color: black;
    color: white;
    font-family: "Main Font";
    padding-left: 10%;
    padding-right: 10%;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

nav a:visited {
    color: blue;
}

nav a:link {
    color: blue;
}

p {
    line-height: 1.4;
}

img {
    max-width: 100%;
}

.games-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.games-list .game {
    width: 25%;
    padding: 20px;
    line-height: 1.4;
}

.games-list .game a:visited, a:link {
    color: white;
    text-decoration: none;
}

.games-list .game img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
}

.center {
    text-align: center;
}

.published-date {
    font-size: x-small;
}

.blog-list-item {
    display: block;
    background-color: #333333;
    padding: 16px;
    padding-bottom: 24px;
    margin: 24px;
}

.blog-list-item:visited, .blog-list-item:link {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }

    .games-list {
        flex-direction: column;
        align-content: center;
    }

    .games-list .game {
        width: 80%;
    }
}